@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img[src="/images/logo.png"] {
  width: auto;
  height: auto;
}

/* Outros estilos globais podem ser adicionados aqui */
